<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	
</head>
<body ng-app="FilterApp" ng-controller="test" >
	<ul >
		<li ng-repeat="x in names | filter : 'p'">{{ x }}</li> 
	</ul>

</body>
<script type="text/javascript">
	fapp=angular.module("FilterApp",[]);
	fapp.controller("test",function($scope){
		$scope.names=['hop','hung','long'];
	});
</script>
</html>