<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="app/app.js" type="text/javascript" ></script>
</head>
<body ng-app="myapp" ng-controller="MayTinh">
	<input ng-model="so1"><br>
	<input ng-model="so2"><br/>
	<select ng-model="pheptinh">
		<option selected value="+">+</option>
		<option>-</option>
		<option>*</option>
		<option>/</option>
	</select>
	<br>
	<button ng-click="tinh()">Thuc hien</button>
	<br>
	{{ketqua}}
</body>
</html>