<form>
	<table>
		<tr>
			<td>Username</td>
			<td><input  type="text"></td>
		</tr>
		<tr>
			<td>Password</td>
			<td><input  type="password"></td>
		</tr>
		<tr>
			<td></td>
			<td><input  type="submit"></td>
		</tr>
	</table>

</form>